.rectangleParent {
	width: 100%;
	height: 675.999px;
	position: relative;
	background-color: #e6e6e6;
	overflow: hidden;
	flex-shrink: 0;
	text-align: left;
	font-size: 51.999px;
	color: #111;
	font-family: Manrope, sans-serif;
}
.frameChild {
	position: absolute;
	top: -0.33px;
	left: 0px;
	background: linear-gradient(269.25deg, #fff, rgba(255, 255, 255, 0));
	width: 1920px;
	height: 929.299px;
	flex-shrink: 0;
}
.div {
	position: absolute;
	top: -155px;
	left: 1317.771px;
	width: 602.001px;
	height: 752.001px;
	flex-shrink: 0;
}
.endToEndCommercialSolarSoParent {
	position: absolute;
	top: 143.67px;
	left: 205px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px;
	flex-shrink: 0;
	min-width: min(977px, 764.001px);
}
.endToEndCommercialSolarContainer {
	width: 764.001px;
	position: relative;
	display: block;
	max-width: none;
	font-weight: 600;
}
.titleWrap {
	position: relative;
	display: block;
	width: 100%;
}
.endToEndCommercialSolarContainer2 {
	width: 100%;
}
.underOneRoof {
	color: #e50818;
}
.mekarkIsALeadingCommercialParent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30.561px;
	width: 100%;
	max-width: 723.999px;
}
.mekarkIsA {
	width: 723.999px;
	position: relative;
	display: inline-block;
}
.solarEte1 {
	position: absolute;
	right: 80.001px;
	bottom: 9.669px;
	width: 908.001px;
	height: 603.001px;
	object-fit: cover;
	flex-shrink: 0;
}
